ALTER TABLE customers ADD COLUMN first_name TEXT; ALTER TABLE customers ADD COLUMN last_name TEXT; ALTER TABLE customers ADD COLUMN username TEXT; ALTER TABLE restaurant_owners ADD COLUMN first_name TEXT; ALTER TABLE restaurant_owners ADD COLUMN last_name TEXT; ALTER TABLE restaurant_owners ADD COLUMN username TEXT;
